.header {
  grid-area: header;
  background-color: green;
}

.header img {
  width: 80px;
}

.loginBlock {
  float: right;
  margin: 20px;
}

.loginBlock a {
  color: white;
  text-decoration: none;
}


